<apex:component >
    <apex:attribute name="records" type="sobject[]" required="true" description="Job Deatails"/>
    <apex:attribute name="fields" type="string[]" required="true" description="Job Deatails"/>
    <table border="2" >
 <apex:repeat var="item" value="{!records}">
            <tr>            
                 <th>Name</th>
                 <th>Salary</th>
                 <th>Email ID</th>
            </tr>
            
            <tr>
                <apex:repeat var="fieldItem" value="{!fields}">   
                    <td>{!item[fieldItem]}</td>
                </apex:repeat> 
            </tr>
        </apex:repeat> 
    </table>
</apex:component>