<apex:page controller="NewCandCustomController">
    <apex:stylesheet value="{!URLFOR($Resource.Library, 'NewApplication_CSS/CSS_Cand.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Library, 'NewApplication_JS/JS_Cand.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jQuery)}"/>
 <div class="myClass">
     <div class="header">
         <h1>Candidate Wizard</h1>
         <hr size="3" width="100%" color="black"/>
    </div>
     
  <apex:form styleClass="aa" onsubmit="return validateform()">
      <apex:pageBlock >
          <apex:image styleClass="img" url="{! URLFOR($Resource.Library, 'NewApplication_Image/enzigma.png')}"/>
          <h2> Candidate Information </h2>
          <apex:pageBlockSection columns="2" >
                     
              <apex:inputField styleClass="inf" id="name1" value="{!Candidate.Name}"/> 
              <apex:inputField styleClass="inf" id="salu2" value="{!Candidate.Salutation__c}"/>
              <apex:inputField styleClass="inf" id="fname3" value="{!Candidate.First_Name__c}"/>
              <apex:inputField styleClass="inf" id="lname4" value="{!Candidate.Last_Name__c}"/>
              <apex:inputField styleClass="inf" id="date5" value="{!Candidate.Application_Date__c}"/>
              <apex:inputField styleClass="inf" id="country6" value="{!Candidate.Country__c}"/>
              <!--<apex:inputField value="{!Candidate.Full_Name__c}"/> -->
              <apex:inputField styleClass="inf" id="dob7" value="{!Candidate.DOB__c}"/>
              <apex:inputField styleClass="inf" id="jc8" value="{!Candidate.Job__c}"/>
              <apex:inputField styleClass="inf" id="email9" value="{!Candidate.Email__c}"/>
              <apex:inputField styleClass="inf" id="state10" value="{!Candidate.State__c}"/>
              <apex:inputField styleClass="inf" id="sal11" value="{!Candidate.Expected_Salary__c}"/>
              <apex:inputField styleClass="inf" id="status12" value="{!Candidate.Status__c}"/>
              
          
          </apex:pageBlockSection>
          
          <apex:pageBlockSection >
            
          </apex:pageBlockSection>
          <div class="container">
              <apex:commandButton styleClass="btn" onclick="return validateform();" value="save" action="{!save}"/>
          </div>
          
         
      </apex:pageBlock>
  </apex:form>
 </div>
    
</apex:page>